[submodule "sdl/SDL"]
	path = sdl/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "ffmpeg/ffmpeg"]
	path = ffmpeg/ffmpeg
	url = https://git.ffmpeg.org/ffmpeg.git
[submodule "moltenvk/MoltenVK"]
	path = moltenvk/MoltenVK
	url = https://github.com/KhronosGroup/MoltenVK.git
