// Use prebuilt glslang instead of vendored sources
// Set GLSLANG_BUILTIN_FLAG to empty to disable builtin glslang defines
GLSLANG_BUILTIN_FLAG =
GLSLANG_BUILTIN_HEADER_SEARCH_PATHS =

HEADER_SEARCH_PATHS = $(inherited) $(RETROARCH_APPLE_DEPS)/glslang/include

OTHER_LDFLAGS = $(inherited) -L$(RETROARCH_APPLE_DEPS)/glslang/$(PLATFORM_NAME)/lib -lglslang -lMachineIndependent -lGenericCodeGen -lOSDependent -lSPIRV
