HEADER_SEARCH_PATHS = $(inherited) $(RETROARCH_APPLE_DEPS)/ffmpeg/build/$(PLATFORM_NAME)/$(CURRENT_ARCH)/include

OTHER_CFLAGS = $(inherited) -DHAVE_FFMPEG -DHAVE_SWRESAMPLE

OTHER_LDFLAGS = $(inherited) -L$(RETROARCH_APPLE_DEPS)/ffmpeg/build/$(PLATFORM_NAME)/$(CURRENT_ARCH)/lib

OTHER_LDFLAGS = $(inherited) -lavcodec -lavformat -lavutil -lswresample -lswscale -lopus -lvpx -lx264 -lbz2 -liconv -framework AudioToolbox -framework VideoToolbox -framework Security -framework CoreMedia
